{% extends "base.html" %}
{% load static %}

{% block title %}Cart{% endblock %}
{% block style %}{% static 'css/main_style.css' %}{% endblock %}

{% block content %}
        <h1>Корзина</h1>
        <div class="product_container row justify-content-around">
            {% for product in products %}
                <div class="card row justify-content-between" style="width: 18rem; margin:30px auto; padding: 1% 0">
                    <img src={{product.image}} class="card-img-top img-fluid" alt="...">
                    <div class="">
                      <h5 class="card-title">{{product.title}}</h5>
                      <p class="card-text">{{product.category.title}}</p>
                      <h5 class="card-text">{{product.price}}</h5>
                      <a href="{% url 'product_card' product.pk %}" class="btn btn-primary">Подробнее</a>
                      <a href="{% url 'in_cart' product.pk %}" class="btn btn-secondary">В корзину</a>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}

