{% extends "base.html" %}
{% load static %}

{% block title %}Detailed{% endblock %}
{% block style %}{% static 'css/detailed.css' %}{% endblock %}
{% block menu %}
    <li class="list">
        <div class="return">
            <a href="{% url 'tasks' %}">На главную</a>
        </div>
    </li>
{% endblock %}
{% block content %}
        <div class="task_box">
            {% csrf_token %}
            <div class="box">
                <h1>{{task.description}}</h1>
            </div>

            <div class="box">
                <h2>{{task.task_status}}</h2>
            </div>

            <div class="box">
                <h2>{{task.date}}</h2>
            </div>
            <div class="box">
                <p>{{task.details}}</p>
            </div>
        </div> 
{% endblock %}

