{% extends "base.html" %}
{% load static %}

{% block title %}Main Page{% endblock %}
{% block style %}{% static 'css/main_style.css' %}{% endblock %}
{% block menu %}
    <li class="list">
        <div class="new_task_button">
            <a href="{% url 'new_task' %}">Добавить новую задачу</a>
        </div>
    </li>
{% endblock %}
{% block content %}
        <h1>To-do task manager!</h1>
        <div class="task_container">
            {% for task in tasks %}
                <div class="task_box">
                    <h2>{{task.description}}</h2>
                    <h3>Status: {{ task.task_status}}</h3>
                    <h3>Finish date: {{task.date}}</h3>
                    <p><a href="{% url 'task_details' task.pk %}">Подробнее</a></p>
                </div>
                <hr>
            {% endfor %}
        </div>
{% endblock %}

