html {
    height: 100%;
}

body {
    margin: 0;
    height: 50%;
    background: linear-gradient(137deg, rgba(22,152,13,1) 0%, rgba(236,81,81,1) 57%, rgba(196,15,153,1) 96%);
}
@media (min-width: 768px) {
    .form_box {
        width: 50%;
        margin: 50px auto;
    }
}
.form_box {
    border-radius: 30px;
    backdrop-filter: blur(10px);
    max-width: 100%;
    margin: 50px auto;
    background: linear-gradient(137deg, rgba(193,134,221,1) 0%, rgba(161,161,245,1) 46%, rgba(0,212,255,1) 100%);
}
h1 {
    text-align: center;
}
.form_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box {
    margin: 20px;
    text-align: center;
}

select {
    width: 50% !important;
    margin: auto !important;  
}
input {
    border-radius: 5px;
    width: 50% !important;
    border: transparent;
}
textarea {
    width: 50%
}
.price input {
    background-color: transparent;
}
.price {
    width: 46% !important;
    margin: 20px auto !important;
    background-color: aliceblue;
    border-radius: 5px;
}